/* --------------------Fonts */

@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@200..900&family=Oxygen:wght@200..900&family=Raleway:wght@200..900&display=swap');

/*-----------------Import CSS */

@import 'assets/css/bootstrap/bootstrap.min.css';
@import 'assets/css/extra/magnific-popup.css';
@import 'assets/css/extra/fontawesome.min.css';


/*-------------------main CSS */

* {
    margin: 0;
    padding: 0;
}

#preloader {
    background-color: rgba(52, 26, 121, 0.99);
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.load-irishtours {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.95);
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
    overflow: hidden;
    position: relative;
    top: 50%;
    width: 60px;
    z-index: 9;
    -webkit-animation: 4000ms linear 0s normal none infinite running loadirishtours;
            animation: 4000ms linear 0s normal none infinite running loadirishtours;
}
@-webkit-keyframes loadirishtours {
    0% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes loadirishtours {
    0% {
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    outline: none;
    font-weight: 600;
}

/*-------------------header CSS */

.header_area {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    height: 120px;
    left: 0;
    padding: 0 30px;
    position: fixed;
    top: 0;
    transition-duration: 700ms;
    width: 100%;
    z-index: 99;
    z-index: 9999;
    -webkit-transition-duration: 700ms;
}

.sticky .header_area {
    background-color: rgba(14, 2, 35, 0.9);
    border-bottom: 1px solid transparent;
    height: 80px;
    z-index: 9999;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-brand {
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	margin-right: 70px;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #fff;
    font-weight: 700;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #fff;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-item.active .nav-link {
    color: #7643ea;
}

.dropdown-menu {
    border: none;
}

.dropdown-item {
    font-weight: 600;
    font-size: 14px;
}

.dropdown-item:hover {
    background-color: #7643ea;
    color: #fff;
}

.dropdown-toggle:after {
    border: none;
}


